<div class="booking-modal-backdrop" (click)="onClose()">
  <div class="booking-modal-content" (click)="$event.stopPropagation()">
      <button class="close-button" (click)="onClose()">×</button>
      <h3 class="modal-title">{{ isAlreadyBooked ? 'Déjà réservé' : 'Confirmer la réservation' }}</h3>
      
      <div class="modal-details">
        <div class="detail-row">
          <div class="detail-label">Date:</div>
          <div class="detail-value">{{ date }}</div>
        </div>
        
        <div class="detail-row">
          <div class="detail-label">Heure:</div>
          <div class="detail-value">{{ time }}</div>
        </div>
        
        <div class="detail-row">
          <div class="detail-label">Nombre de personnes:</div>
          <div class="detail-value">{{ numberOfPeople }}</div>
        </div>
      </div>
      
      <div class="modal-actions">
        <div class="action-row">
          <div class="action-column">
            <button 
              class="action-button confirm-button" 
              [disabled]="isAlreadyBooked"
              (click)="onConfirm()">
              Confirmer
            </button>
            
            <div *ngIf="isAlreadyBooked" class="error-message">
              Vous avez déjà réservé pour cet horaire.
            </div>
          </div>
        </div>
      </div>
    </div>
</div>